Shopify-n8n-Automation-Suite/02-Fraud-Detection-Tagging/02-Fraud-Detection-Tagging.json
{
  "name": "02-Fraud-Detection-Tagging",
  "nodes": [
    {
      "parameters": {
        "authentication": "accessToken",
        "topic": "orders/create"
      },
      "type": "n8n-nodes-base.shopifyTrigger",
      "typeVersion": 1,
      "position": [
        -672,
        -112
      ],
      "id": "d9fc0569-22c0-4159-9d68-98a741b7fc05",
      "name": "Shopify: On Order Created",
      "webhookId": "d7363de8-3cc7-4e5d-a565-bf831876c395"
    },
    {
      "parameters": {
        "url": "=https://adil-safikhan.myshopify.com/admin/api/2025-10/orders/{{ $json.id }}/risks.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "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"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -448,
        -112
      ],
      "id": "5616c16e-da76-4148-acfd-621be7459014",
      "name": "API: Fetch Order Risk Score"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "bea55146-5ce6-4e53-b6bd-9cd4285ba2a3",
              "leftValue": "={{ $json.risks.length }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -224,
        -112
      ],
      "id": "e5550c50-3f65-4d10-9e74-5b3fa25731b5",
      "name": "Logic: Check for Fraud or Missing Risk"
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "operation": "update",
        "orderId": "={{ $node[\"Shopify: On Order Created\"].json[\"id\"] }}\n",
        "updateFields": {
          "tags": "RISK-UNKNOWN-CHECK-MANUALLY"
        }
      },
      "type": "n8n-nodes-base.shopify",
      "typeVersion": 1,
      "position": [
        -16,
        -208
      ],
      "id": "d37ffa5a-9844-4fd4-b0da-95242f93bca4",
      "name": "Shopify: Tag as Unknown Risk"
    }
  ],
  "pinData": {
    "Shopify: On Order Created": [
      {
        "json": {
          "id": 5719769055384,
          "admin_graphql_api_id": "gid://shopify/Order/5719769055384",
          "app_id": 580111,
          "browser_ip": "223.123.87.109",
          "buyer_accepts_marketing": false,
          "cancel_reason": null,
          "cancelled_at": null,
          "cart_token": "hWN6dWhffivgiM4PHqFOD0gT",
          "checkout_id": 32078413660312,
          "checkout_token": "412149b21cf33efb59b5f1fcf41646fc",
          "client_details": {
            "accept_language": "en-PK",
            "browser_height": null,
            "browser_ip": "223.123.87.109",
            "browser_width": null,
            "session_hash": null,
            "user_agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36"
          },
          "closed_at": null,
          "company": null,
          "confirmation_number": "JNU5CQJ7G",
          "confirmed": true,
          "contact_email": "adilmohmand841@gmail.com",
          "created_at": "2025-12-19T23:46:57-05:00",
          "currency": "PKR",
          "current_shipping_price_set": {
            "shop_money": {
              "amount": "0.00",
              "currency_code": "PKR"
            },
            "presentment_money": {
              "amount": "0.00",
              "currency_code": "PKR"
            }
          },
          "current_subtotal_price": "27998.00",
          "current_subtotal_price_set": {
            "shop_money": {
              "amount": "27998.00",
              "currency_code": "PKR"
            },
            "presentment_money": {
              "amount": "27998.00",
              "currency_code": "PKR"
            }
          },
          "current_total_additional_fees_set": null,
          "current_total_discounts": "0.00",
          "current_total_discounts_set": {
            "shop_money": {
              "amount": "0.00",
              "currency_code": "PKR"
            },
            "presentment_money": {
              "amount": "0.00",
              "currency_code": "PKR"
            }
          },
          "current_total_duties_set": null,
          "current_total_price": "32477.68",
          "current_total_price_set": {
            "shop_money": {
              "amount": "32477.68",
              "currency_code": "PKR"
            },
            "presentment_money": {
              "amount": "32477.68",
              "currency_code": "PKR"
            }
          },
          "current_total_tax": "4479.68",
          "current_total_tax_set": {
            "shop_money": {
              "amount": "4479.68",
              "currency_code": "PKR"
            },
            "presentment_money": {
              "amount": "4479.68",
              "currency_code": "PKR"
            }
          },
          "customer_locale": "en-PK",
          "device_id": null,
          "discount_codes": [],
          "duties_included": false,
          "email": "adilmohmand841@gmail.com",
          "estimated_taxes": false,
          "financial_status": "paid",
          "fulfillment_status": null,
          "landing_site": "/password",
          "landing_site_ref": null,
          "location_id": null,
          "merchant_business_entity_id": "32381567128",
          "merchant_of_record_app_id": null,
          "name": "#1021",
          "note": null,
          "note_attributes": [],
          "number": 21,
          "order_number": 1021,
          "order_status_url": "https://adil-safikhan.myshopify.com/73819783320/orders/32fdb144ea8eeb211595f9eee0419e9d/authenticate?key=ced31f39bb9008b8d6f35e6438444f31",
          "original_total_additional_fees_set": null,
          "original_total_duties_set": null,
          "payment_gateway_names": [
            "bogus"
          ],
          "phone": null,
          "po_number": null,
          "presentment_currency": "PKR",
          "processed_at": "2025-12-19T23:46:56-05:00",
          "reference": null,
          "referring_site": null,
          "source_identifier": null,
          "source_name": "web",
          "source_url": null,
          "subtotal_price": "27998.00",
          "subtotal_price_set": {
            "shop_money": {
              "amount": "27998.00",
              "currency_code": "PKR"
            },
            "presentment_money": {
              "amount": "27998.00",
              "currency_code": "PKR"
            }
          },
          "tags": "",
          "tax_exempt": false,
          "tax_lines": [
            {
              "price": "4479.68",
              "rate": 0.16,
              "title": "GST",
              "price_set": {
                "shop_money": {
                  "amount": "4479.68",
                  "currency_code": "PKR"
                },
                "presentment_money": {
                  "amount": "4479.68",
                  "currency_code": "PKR"
                }
              },
              "channel_liable": false
            }
          ],
          "taxes_included": false,
          "test": true,
          "token": "32fdb144ea8eeb211595f9eee0419e9d",
          "total_cash_rounding_payment_adjustment_set": {
            "shop_money": {
              "amount": "0.00",
              "currency_code": "PKR"
            },
            "presentment_money": {
              "amount": "0.00",
              "currency_code": "PKR"
            }
          },
          "total_cash_rounding_refund_adjustment_set": {
            "shop_money": {
              "amount": "0.00",
              "currency_code": "PKR"
            },
            "presentment_money": {
              "amount": "0.00",
              "currency_code": "PKR"
            }
          },
          "total_discounts": "0.00",
          "total_discounts_set": {
            "shop_money": {
              "amount": "0.00",
              "currency_code": "PKR"
            },
            "presentment_money": {
              "amount": "0.00",
              "currency_code": "PKR"
            }
          },
          "total_line_items_price": "27998.00",
          "total_line_items_price_set": {
            "shop_money": {
              "amount": "27998.00",
              "currency_code": "PKR"
            },
            "presentment_money": {
              "amount": "27998.00",
              "currency_code": "PKR"
            }
          },
          "total_outstanding": "0.00",
          "total_price": "32477.68",
          "total_price_set": {
            "shop_money": {
              "amount": "32477.68",
              "currency_code": "PKR"
            },
            "presentment_money": {
              "amount": "32477.68",
              "currency_code": "PKR"
            }
          },
          "total_shipping_price_set": {
            "shop_money": {
              "amount": "0.00",
              "currency_code": "PKR"
            },
            "presentment_money": {
              "amount": "0.00",
              "currency_code": "PKR"
            }
          },
          "total_tax": "4479.68",
          "total_tax_set": {
            "shop_money": {
              "amount": "4479.68",
              "currency_code": "PKR"
            },
            "presentment_money": {
              "amount": "4479.68",
              "currency_code": "PKR"
            }
          },
          "total_tip_received": "0.00",
          "total_weight": 0,
          "updated_at": "2025-12-19T23:46:59-05:00",
          "user_id": null,
          "billing_address": {
            "first_name": "Adil",
            "address1": "Peshawar, Khyber pekhtonkhwa, Pakistan",
            "phone": "+923359331586",
            "city": "Landi kotal",
            "zip": "24470",
            "province": null,
            "country": "Pakistan",
            "last_name": "Safi",
            "address2": null,
            "company": null,
            "latitude": 34.00833739999999,
            "longitude": 71.5188619,
            "name": "Adil Safi",
            "country_code": "PK",
            "province_code": null
          },
          "customer": {
            "id": 8468080328856,
            "created_at": "2025-12-10T02:33:43-05:00",
            "updated_at": "2025-12-11T23:56:00-05:00",
            "first_name": "Adil",
            "last_name": "Safi",
            "state": "disabled",
            "note": null,
            "verified_email": true,
            "multipass_identifier": null,
            "tax_exempt": false,
            "email": "adilmohmand841@gmail.com",
            "phone": null,
            "currency": "PKR",
            "tax_exemptions": [],
            "admin_graphql_api_id": "gid://shopify/Customer/8468080328856",
            "default_address": {
              "id": 9668185555096,
              "customer_id": 8468080328856,
              "first_name": "Adil",
              "last_name": "Safi",
              "company": null,
              "address1": "Peshawar, Khyber pekhtonkhwa, Pakistan",
              "address2": null,
              "city": "Landi kotal",
              "province": null,
              "country": "Pakistan",
              "zip": "24470",
              "phone": "+923359331586",
              "name": "Adil Safi",
              "province_code": null,
              "country_code": "PK",
              "country_name": "Pakistan",
              "default": true
            }
          },
          "discount_applications": [],
          "fulfillments": [],
          "line_items": [
            {
              "id": 13817223151768,
              "admin_graphql_api_id": "gid://shopify/LineItem/13817223151768",
              "attributed_staffs": [],
              "current_quantity": 1,
              "fulfillable_quantity": 1,
              "fulfillment_service": "manual",
              "fulfillment_status": null,
              "gift_card": false,
              "grams": 0,
              "name": "Pro USB Condenser Streaming Microphone - Blue",
              "price": "17999.00",
              "price_set": {
                "shop_money": {
                  "amount": "17999.00",
                  "currency_code": "PKR"
                },
                "presentment_money": {
                  "amount": "17999.00",
                  "currency_code": "PKR"
                }
              },
              "product_exists": true,
              "product_id": 8906789191832,
              "properties": [],
              "quantity": 1,
              "requires_shipping": true,
              "sales_line_item_group_id": null,
              "sku": "MIC-USB-BLU-01",
              "taxable": true,
              "title": "Pro USB Condenser Streaming Microphone",
              "total_discount": "0.00",
              "total_discount_set": {
                "shop_money": {
                  "amount": "0.00",
                  "currency_code": "PKR"
                },
                "presentment_money": {
                  "amount": "0.00",
                  "currency_code": "PKR"
                }
              },
              "variant_id": 47483639300248,
              "variant_inventory_management": "shopify",
              "variant_title": "Blue",
              "vendor": "Adil_Safikhan",
              "tax_lines": [
                {
                  "channel_liable": false,
                  "price": "2879.84",
                  "price_set": {
                    "shop_money": {
                      "amount": "2879.84",
                      "currency_code": "PKR"
                    },
                    "presentment_money": {
                      "amount": "2879.84",
                      "currency_code": "PKR"
                    }
                  },
                  "rate": 0.16,
                  "title": "GST"
                }
              ],
              "duties": [],
              "discount_allocations": []
            },
            {
              "id": 13817223184536,
              "admin_graphql_api_id": "gid://shopify/LineItem/13817223184536",
              "attributed_staffs": [],
              "current_quantity": 1,
              "fulfillable_quantity": 1,
              "fulfillment_service": "manual",
              "fulfillment_status": null,
              "gift_card": false,
              "grams": 0,
              "name": "Professional 6K Digital Cinema Camera - Black",
              "price": "9999.00",
              "price_set": {
                "shop_money": {
                  "amount": "9999.00",
                  "currency_code": "PKR"
                },
                "presentment_money": {
                  "amount": "9999.00",
                  "currency_code": "PKR"
                }
              },
              "product_exists": true,
              "product_id": 8906769989784,
              "properties": [],
              "quantity": 1,
              "requires_shipping": true,
              "sales_line_item_group_id": null,
              "sku": "CAM-PRO-BLK-06",
              "taxable": true,
              "title": "Professional 6K Digital Cinema Camera",
              "total_discount": "0.00",
              "total_discount_set": {
                "shop_money": {
                  "amount": "0.00",
                  "currency_code": "PKR"
                },
                "presentment_money": {
                  "amount": "0.00",
                  "currency_code": "PKR"
                }
              },
              "variant_id": 47483618197656,
              "variant_inventory_management": "shopify",
              "variant_title": "Black",
              "vendor": "Adil_Safikhan",
              "tax_lines": [
                {
                  "channel_liable": false,
                  "price": "1599.84",
                  "price_set": {
                    "shop_money": {
                      "amount": "1599.84",
                      "currency_code": "PKR"
                    },
                    "presentment_money": {
                      "amount": "1599.84",
                      "currency_code": "PKR"
                    }
                  },
                  "rate": 0.16,
                  "title": "GST"
                }
              ],
              "duties": [],
              "discount_allocations": []
            }
          ],
          "payment_terms": null,
          "refunds": [],
          "shipping_address": {
            "first_name": "Adil",
            "address1": "Peshawar, Khyber pekhtonkhwa, Pakistan",
            "phone": "+923359331586",
            "city": "Landi kotal",
            "zip": "24470",
            "province": null,
            "country": "Pakistan",
            "last_name": "Safi",
            "address2": null,
            "company": null,
            "latitude": 34.00833739999999,
            "longitude": 71.5188619,
            "name": "Adil Safi",
            "country_code": "PK",
            "province_code": null
          },
          "shipping_lines": [
            {
              "id": 4711648428184,
              "carrier_identifier": null,
              "code": "Standard",
              "current_discounted_price_set": {
                "shop_money": {
                  "amount": "0.00",
                  "currency_code": "PKR"
                },
                "presentment_money": {
                  "amount": "0.00",
                  "currency_code": "PKR"
                }
              },
              "discounted_price": "0.00",
              "discounted_price_set": {
                "shop_money": {
                  "amount": "0.00",
                  "currency_code": "PKR"
                },
                "presentment_money": {
                  "amount": "0.00",
                  "currency_code": "PKR"
                }
              },
              "is_removed": false,
              "phone": null,
              "price": "0.00",
              "price_set": {
                "shop_money": {
                  "amount": "0.00",
                  "currency_code": "PKR"
                },
                "presentment_money": {
                  "amount": "0.00",
                  "currency_code": "PKR"
                }
              },
              "requested_fulfillment_service_id": null,
              "source": "shopify",
              "title": "Standard",
              "tax_lines": [],
              "discount_allocations": []
            }
          ],
          "returns": [],
          "line_item_groups": []
        }
      }
    ]
  },
  "connections": {
    "Shopify: On Order Created": {
      "main": [
        [
          {
            "node": "API: Fetch Order Risk Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Fetch Order Risk Score": {
      "main": [
        [
          {
            "node": "Logic: Check for Fraud or Missing Risk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logic: Check for Fraud or Missing Risk": {
      "main": [
        [
          {
            "node": "Shopify: Tag as Unknown Risk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2c981437-db54-455c-b4c0-113f62bfacff",
  "meta": {
    "instanceId": "8b146e869da925f8999d33c052e74d2c62b483c7917680c58792ad7c67fd6a63"
  },
  "id": "ePk1YqWBIol6tToN",
  "tags": []
}