Shopify-n8n-Automation-Suite/07-Stuck-Orders-Detector/07-Stuck-Order-Detector.json
{
  "name": "07-Stuck-Order-Detector",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        16,
        1136
      ],
      "id": "c25213aa-a342-4214-aaa8-9543e38d8796",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "operation": "getAll",
        "options": {
          "fulfillmentStatus": "unshipped",
          "status": "open"
        }
      },
      "type": "n8n-nodes-base.shopify",
      "typeVersion": 1,
      "position": [
        240,
        1136
      ],
      "id": "9e911757-ddf6-446c-9833-d0bc69b3c83c",
      "name": "Shopify: Get Unshipped Orders"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "30cdead8-3458-4e84-ad1c-ebe2000b924e",
              "leftValue": "={{ $json.created_at }}",
              "rightValue": "={{ $now.minus({ days:2 }) }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        464,
        1136
      ],
      "id": "e78901af-c895-463b-8d05-a58a08de7e20",
      "name": "Logic: Check 48h Delay"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a165f709-b543-4094-8606-e4a4bcc22eac",
              "name": "table_rows",
              "value": "=<tr>\n  <td style=\"padding: 10px; border-bottom: 1px solid #eee;\">#{{ $json.order_number }}</td>\n  <td style=\"padding: 10px; border-bottom: 1px solid #eee;\">{{ $json.customer.first_name }}</td>\n  <td style=\"padding: 10px; border-bottom: 1px solid #eee;\">{{ $json.total_price }}</td>\n</tr>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        1136
      ],
      "id": "b5ca23ba-a304-45b8-87d5-569adb310176",
      "name": "Format Table Row"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "=table_rows",
              "separateBy": ""
            },
            {
              "field": "total_suck",
              "includeEmpty": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        912,
        1136
      ],
      "id": "940190e1-4013-4246-828f-2714c3b77d4c",
      "name": "Summarize: Aggregate Report"
    },
    {
      "parameters": {
        "sendTo": "adilsafi2828@gmail.com",
        "subject": "=🚨 Stuck Order Report - {{ $now.toFormat('MMM dd, yyyy') }}",
        "message": "=<div style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; max-width: 600px; margin: auto; border: 1px solid #e0e0e0; border-radius: 12px; overflow: hidden; box-shadow: 0 4px 10px rgba(0,0,0,0.1);\">\n  \n  <div style=\"background-color: #C0392B; color: white; padding: 25px; text-align: center;\">\n    <h1 style=\"margin: 0; font-size: 24px;\">🚨 Stuck Order Alert</h1>\n    <p style=\"margin: 8px 0 0 0; opacity: 0.9;\">Master, <strong>{{ $json.count_total_suck }}</strong> orders are pending over 48 hours.</p>\n  </div>\n  \n  <div style=\"padding: 20px; background-color: white;\">\n    <table style=\"width: 100%; border-collapse: collapse;\">\n      <thead>\n        <tr style=\"text-align: left; border-bottom: 2px solid #333; color: #555;\">\n          <th style=\"padding: 12px 8px;\">Order ID</th>\n          <th style=\"padding: 12px 8px;\">Customer</th>\n          <th style=\"padding: 12px 8px;\">Amount</th>\n        </tr>\n      </thead>\n      <tbody>\n        {{ $json.concatenated_table_rows }}\n      </tbody>\n    </table>\n  </div>\n  \n  <div style=\"background-color: #f9f9f9; padding: 25px; text-align: center; border-top: 1px solid #eee;\">\n    <p style=\"color: #666; font-size: 14px; margin-bottom: 15px;\">Check inventory levels to see if stock is missing:</p>\n    \n    <a href=\"https://admin.shopify.com/store/adil-safikhan/products/inventory?location_id=83277578392&selectedColumns=VARIANT_NAME%2CSKU%2CUNAVAILABLE_QUANTITY%2CCOMMITTED_QUANTITY%2CAVAILABLE_QUANTITY%2CON_HAND_QUANTITY%2CINCOMING_QUANTITY\" \n       style=\"display: inline-block; padding: 14px 28px; background-color: #008060; color: white; text-decoration: none; border-radius: 6px; font-weight: bold; font-size: 16px;\">\n       Check Inventory Levels\n    </a>\n  </div>\n\n  <div style=\"padding: 15px; text-align: center; font-size: 12px; color: #999;\">\n    Automated Report via n8n Watchdog System\n  </div>\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1136,
        1136
      ],
      "id": "1e18dce5-a20b-4331-8e49-55d295730a64",
      "name": "Gmail: Send HTML Report",
      "webhookId": "fcbdbdf8-8a43-4404-a9a4-57698bd48fd1",
      "executeOnce": false
    },
    {
      "parameters": {
        "content": "# 7. Stuck-order detector\n-->This Workflow work as a Watch Dog, it look for last 48 hours Order which is not Fulfilled yet, and than Alert the Shop owner! about it.",
        "height": 320,
        "width": 1296,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -24,
        976
      ],
      "typeVersion": 1,
      "id": "b0b9c015-9b1d-47c4-9944-6af63c8adfe0",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Shopify: Get Unshipped Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shopify: Get Unshipped Orders": {
      "main": [
        [
          {
            "node": "Logic: Check 48h Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logic: Check 48h Delay": {
      "main": [
        [
          {
            "node": "Format Table Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Table Row": {
      "main": [
        [
          {
            "node": "Summarize: Aggregate Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize: Aggregate Report": {
      "main": [
        [
          {
            "node": "Gmail: Send HTML Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e054bd11-36e7-4e9e-a53c-90aa308772a4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8b146e869da925f8999d33c052e74d2c62b483c7917680c58792ad7c67fd6a63"
  },
  "id": "5hX8Y7dWm6OkN11n",
  "tags": []
}